@page "/"

@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment Host
@inject IBooksService BooksService


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>Api Url: @Configuration["ApiUrl"]</p>

@if (!Host.IsDevelopment())
{
    <SurveyPrompt Title="How is Blazor working for you?"/>
}

<BookCard Book="_firstBook" class="mt-5"/>
<BookCard Book="_firstBook" WithButton="false" class="mt-3"/>
<h3>Available Books:</h3>
<div style="display:flex">
    @foreach (var book in _books)
    {
        <BookCard Book="book" OnAddToCartClicked="AddToCart" @bind-Message="@_message"/>
    }
</div>

<h4>The changed item is @_message:</h4>

<h3 class="mt-3">My Cart</h3>
<ul>
    @foreach (var item in _booksCart)
    {
        <li>@item.Title</li>
    }
</ul>

@* <CascadingValue Value="_cardStyle"> *@
@* <BookCard Book="_firstBook" /> *@
@* </CascadingValue> *@

@code
{
    private string _message = "";
    
    private Book _firstBook = new()
    {
        AuthorName = "John Smith",
        PublishingDate = new DateTime(2022, 08, 01),
        Title = "Mastering Blazor WebAssembly"
    };

    private List<Book> _books = new();
    private List<Book> _booksCart = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        _books = await BooksService.GetAllBooksAsync();
    }

    private void AddToCart(Book selectedBook)
    {
        _booksCart.Add(selectedBook);
    }

}